.homeStyle {
    background-image: linear-gradient(45deg, #3023AE 0%, #f09 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 32px;
    text-decoration-color: #f09;
    border-radius: 0% 100% 0% 100% / 99% 0% 100% 1%  ;
  }
  .text{
    text-decoration-color: #f09;
  }