.top-spacer {
  height: 0vh;
  background-color: black;
}

.bottom-spacer {
  height: 110vh;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #EAE7DC;
  /*background-color: inherit;*/
}

.header_link {
  padding: 20px;
  color: #0f1817;
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  outline: none;
}

.selected {
  border-bottom: 3px solid #000000;
  color: #000000;
}

.section {
  height: 100vh;
}
.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
